.loginDashCont {
  height: 440px;

  display: flex;
  margin-left: 400px;
  margin-top: 20px;
}

.dashOptionsCont {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: solid rgb(204, 204, 204) 1px;
}

.loginDashlabels {
  height: 50px;
  display: flex;
  text-align: left;
  border-bottom: solid rgb(204, 204, 204) 1px;
  font-size: 18px;
  color: rgb(92, 92, 92);
  padding-left: 10px;
  align-items: center;
  text-decoration: none;
}

/* .loginDashlabels:active {
  background-color: gray;
} */

.loginDashlabels:hover {
  background-color: rgb(236, 236, 236);
  color: rgb(221, 4, 185);
}
