/* .navContainer {
  width: 100%;
  height: 170px;
  justify-content: center;
}

.userNav {
  background-color: black;
  display: flex;
  height: 40px;
  color: white;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.userLinks {
  margin-right: 20px;
  font-size: 14px;
  text-align: center;
  color: white !important;
  text-decoration: none;
  font-family: "Segoe UI" !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.bisNameSearchBarCont {
  height: 90px;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bissName {
  font-size: 50px;
  letter-spacing: -4px;
  text-decoration: none;
  color: black;
}

.emtCont {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.homeNav {
  height: 30px;
  font-weight: 350;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks {
  margin: 10px 15px 0px 10px;
  text-decoration: none;
  color: black;
}

.emtDiv {
  height: 30px;
} */
