.navContainer {
  width: 100%;
  height: 170px;
  justify-content: center;
}

.userNav {
  background-color: black;
  display: flex;
  height: 40px;
  color: white;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.userLinks {
  margin-right: 20px;
  font-size: 14px;
  text-align: center;
  color: white !important;
  text-decoration: none;
  font-family: "Segoe UI" !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.dropDownItems {
  color: black;
  text-decoration: none;
}
.bisNameSearchBarCont {
  height: 90px;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bissName {
  font-size: 50px;
  letter-spacing: -4px;
  text-decoration: none;
  color: black;
}
.bissName:hover {
  color: black;
}

.emtCont {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.homeNav {
  height: 30px;
  font-weight: 350;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newArrivalLink {
  margin: 10px 15px 0px 10px;
  text-decoration: none;
  color: black;
  max-height: 30px;
  max-width: 110px;
  background-color: transparent;
  padding: 2px;
  margin-bottom: 16px;
}

.newArrivalLink:hover {
  cursor: pointer;
  color: black;
  max-height: 80px;
  max-width: 110px;
  background-color: rgb(238, 238, 238);
  border-top: solid #f09 2px;
}

.emtDiv {
  height: 30px;
}
